<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVUNNNIKZg0pLkM34lWCw5EjhsfwfgzQc</string>
	<key>GCM_SENDER_ID</key>
	<string>940699127756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superburger.app</string>
	<key>PROJECT_ID</key>
	<string>superburger-2570b</string>
	<key>STORAGE_BUCKET</key>
	<string>superburger-2570b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940699127756:ios:cec3a32b50bd5177c39769</string>
</dict>
</plist>